<table class="w-75">
  <tr>
    <td>
      <p class="mb-0"><%= t("admin.bundle.unit.title") %></p>
    </td>
    <td>
      <% if UnitBundlePdfJob.queued_or_running?(unit.id) %>
        <i class="fas fa-spinner fa-spin" title="<%= t("admin.bundle.in_progress") %>"></i>
      <% else %>
        <%= link_to unit_bundle_pdf_admin_unit_path(unit), style: "text-decoration:none;color:inherit;" do %>
          <i class="far fa-file-pdf" title="<%= t("admin.bundle.unit.pdf") %>"></i>
        <% end %>

        <%= link_to unit_bundle_gdoc_admin_unit_path(unit), style: "text-decoration:none;color:inherit;" do %>
          <i class="fab fa-google" title="<%= t("admin.bundle.unit.gdoc") %>"></i>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>
