<% page_title %>

<div class="container-fluid">
  <h1 class="text-center p-4"><%= t('.page_title') %></h1>

  <hr>

  <%= render 'search_form' %>

  <hr>

  <div class="row">
    <div class="col-sm-3">
      <p><%= page_entries_info @resources %></p>
    </div>
  </div>

  <hr>

  <table class="table table-striped table-bordered">
    <tr>
      <th><%= check_box_tag nil, nil, false, class: 'resource-list-select-all' %>
      <th>ID
      <th><%= t('.title') %>
      <th><%= t('.standards') %>
      <th><%= t('.resource_types') %>
      <th><%= t('.subjects') %>
      <th><%= t('.url_slugs') %>
      <th><%= t('.tree') %>
      <th>
    </tr>

    <% @resources.each do |resource| %>
      <% cache resource do %>
        <tr>
        <% check_box_id = "ids_#{resource.id}" %>
        <td><%= check_box_tag 'ids[]', resource.id, false, class: 'resource-checkbox', id: check_box_id %>
        <td><%= label_tag check_box_id, resource.id, class: 'resource-id-label' %>
        <td><%= link_to resource.title, edit_admin_resource_path(resource) %>
        <td><%= resource.standards.filter_map(&:name).join(', ') %>
        <td><%= resource.resource_type %>
        <td><%= resource.subject %>
        <td><%= resource.slug %>
        <td><%= resource.tree? ? 'yes' : 'no' %>
        <td class="resource-btns-col">
          <% if can_bundle?(resource) %>
            <%= link_to t('.bundle'), bundle_admin_resource_path(resource), class: 'btn btn-sm btn-primary', method: :post %>
          <% end %>
          <% if resource.module? %>
            <%= link_to t('.export_lti_cartridge'), export_to_lti_cc_admin_resource_path(resource), class: 'btn btn-sm btn-primary', method: :post %>
          <% end %>
      </tr>
      <% end %>
    <% end %>
  </table>

  <div class="row">
    <%= will_paginate @resources, list_classes: %w(pagination d-flex justify-content-center) %>
  </div>
</div>
